<nav class="page-nav">
    <a class="page-logo" href="{% url 'home' %}">Mark Ravao</a>

    <div class="page-nav-links">
        <a href="{% url 'project_list' %}">Projects</a>
        <a href="{% url 'inquiry_create' %}">Contact</a>
        <a href="{% url 'testimony_list' %}">Testimonials</a>
        {% if request.user.is_active and request.user.is_superuser %}
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'project_create' %}">Add Project</a>
        {% else %}
            <a href="{% url 'owner_sign_in' %}">Owner sign-in</a>
        {% endif %}
    </div>
</nav>
